div.register-head{
	height:66px;
	margin:0 0 20px;
	border-bottom:2px solid #222;
}
div.register-head .head-inner{
	width:990px;
	height:100%;
	margin:0 auto;
}
div.register-head .logo{
	line-height:66px;
	float:left;
}
.hide{
	display:none;
}
.register-page .relative{
	position:relative;
}
.register-page .right{
	float:right;
}
.register-page .left{
	float:left;
}
.center{
	text-align:center;
}
/*清除浮动*/
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
div.register-head .head-inner>.head-right{
	float:right;
	width:364.38px;
	height:66px;
	line-height:66px;
}
div.register-head .head-right li,div.register-head .head-right li a,div.register-head .head-right li span,div.register-head .head-inner li{
	font-size:12px;
	vertical-align:middle;
}
div.register-head .head-inner li{
	display:inline-block;
	padding:0 8px;
	line-height:28px;
	/* border:1px solid blue; */
}
/*鼠标悬停：下拉列表*/
div.register-head .head-inner li.multiple-options{
	position:relative;
	box-sizing:border-box;
	width:74px;
	height:28px;
}
div.register-head .head-inner li.multiple-options div.selects{
	position:absolute;
	left:0;
	width:74px;
	background:#eaeceb;
	z-index:9;
}
div.register-head .head-inner li.multiple-options div.selects>a{
	display:block;
	width:74px;
	text-align:center;
	border-top:1px solid #ddd;
}
div.register-head .head-right .multiple-options span,div.register-head .head-right .multiple-options span{
	display:inline-block;
	font-size:12px;
	height:28px;
	line-height:28px;
	vartical-align:top;
}
div.register-head .head-right .multiple-options span{
	position:relative;
}
div.register-head .head-right span.icon-down{
	width:0;
	border:6.2px solid transparent;
	border-top-color:#000;
	position:absolute;
	top:12px;
	right:2px;
}
div.register-head .head-right span.icon-up{
	width:0;
	border:6.2px solid transparent;
	border-bottom-color:#000;
	position:absolute;
	top:-21px;
	right:2px;
}
/*黑色边框以下登录主体*/
div.register-page{
	width:1076.8px;
	height:733.6px;
}
div.register-page .alert-div{
	width:100%;
	height:36.6px;
	font-size:12px;
	text-align:center;
}
div.register-page .alert-div .alert-bar{
	display:inline-block;
	width:990px;
	height:25px;
	background-color:#f5f5f5;
	line-height:25px;
	overflow:hidden;
	margin-top:10px;
}
/*左：图片部分*/
div.register-page .passport-cover{
	float:left;
	margin:107px 0;
	width:420px;
}
div.register-page .passport-cover .cover-content{
	padding:50px 0;
	width:100%;
	height:318px;
	border-right:1px solid #dfdfdf;
}
div.register-page .passport-cover .cover-content .cover-img{
	display:block;
	margin:0 auto;
	margin-top:50px;
	width:252px;
	height:190px;
}
/*右：表单部分*/
input.error{
    box-shadow: 0 0 5px red;
}
label.error{
    background-image:url(../img/register_img/err.png);
    color:red !important;
    background-repeat:no-repeat;
    background-position:left;
    background-size: 18px 18px;
    padding-left:18px;
    margin-left:5px;
    font-style: italic;
}
.register-page .content{
	float:left;
	margin-top:107px;
	padding-left:20px;
	height:622.4px;
	padding-top:100px;
/* 	border:1px solid red; */
}
.register-page .content p{
	margin-bottom:20px;
}
.register-page .content p label{
	font-size:14px;
	color:#757575;
}
.register-page .content p.ag label{
	font-size:12px;
}
#footer{
	width:1076.8px;
	overflow:hidden;
}
